<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Web Scrapper Ecommerce" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Flash messages -->
    <div class="fixed top-0 left-0 w-full z-50">
      <% if flash[:notice] %>
        <div class="bg-green-500 text-white p-4 text-center">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="bg-red-500 text-white p-4 text-center">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>

    <!-- Header Section -->
    <div style="backdrop-filter: blur(20px);" class='w-full py-4 flex items-center justify-center px-5 bg-sky-200 bg-opacity-50 sticky border-b'>
      <a href="<%= root_path %>">
        <div class='rounded-full py-2 px-4 flex items-center gap-2 bg-white'>
          <h1 class="text-sm font-bold text-blue-950 lg:text-xl md:text-xl">Web Scrapper</h1>
        </div>
      </a>
    </div>

    <!-- Main Content -->
    <%= yield %>
  </body>
</html>
